@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

:root {
    --fonte-01: "Inter", sans-serif;
    --fonte-02: "Teko", sans-serif;

    --teste: rgba(0, 0, 255, .25);
    --cor-01: #FFFFFF;
    --cor-02: #EEEEEE;
    --cor-03: #94b994;
    --cor-04: #003600;

}

html {
    scroll-behavior: smooth;
}

* {
    font-family: var(--fonte-01);
    box-sizing: border-box;
    transition: .25s;
    color: var(--cor-04);
    font-size: 14px;
    letter-spacing: 1px;
    /* background-color: var(--teste);    */
}

/* BODY */
body {
    background-color: var(--cor-02);
    /* overflow-x: hidden; */
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--cor-04);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-02);
    border: 2.5px solid var(--cor-04);
    border-radius: 25px;
}

/* CABECALHO */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 10px);
    padding: 10px;
    background-color: var(--cor-04);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    z-index: 1;
}

.logo {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a,
.logo a img {
    height: 100%;
    border-radius: 10px;
}

.navegacao {
    width: calc(100%);
}

.navegacao__links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* .links__item{
} */


.links__item a,
.links__item p {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    font-family: var(--fonte-01);
    font-weight: bold;
    color: var(--cor-02);
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.links__item a:hover,
.links__item p:hover {
    opacity: .75;
    transform: translateX(5px);
    font-weight: bold;
}

.item__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--cor-04);
    padding: 30px 20px 20px 20px;
    border-radius: 10px;
    transform: translateX(100vw);
    opacity: 0;
}

.item__menu::before,
.item__menu::after {
    content: '';
    position: absolute;
    top: 18px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.item__menu::before {
    left: -20px;
    box-shadow: 10px -10px 0 var(--cor-04);
}

.item__menu::after {
    right: -20px;
    box-shadow: -10px -10px 0 var(--cor-04);
}

#menu-secoes:hover > .item__menu {
    transform: translateX(-50px);
    opacity: 1;
}

/* .menu__secao{
} */

.menu__secao a {
    display: block;
    height: 100%;
    color: var(--cor-01);
    padding: 10px;
}

.menu__secao a:hover {
    transform: translateX(5px);
}

/* SECOES */
section {
    padding: 150px 0 50px 0;
}


/* PRIMEIRA SECAO */
.primeira-secao {
    background-image: url(IMG/banner-04.png);
    background-repeat: no-repeat;
    background-size: 100vw calc(100vh - 70px);
    background-position: 0 70px;
    border-bottom: 2px solid var(--cor-04);
    padding-left: 100px;
    padding-right: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.primeira-secao__conteudo {
    padding: 35px 30px;
    border: 1px solid var(--cor-04);
    background-color: var(--cor-01);
    box-shadow: -10px 10px 5px -2.5px var(--cor-04);
    line-height: 25px;
    text-align: justify;
}

.primeira-secao__conteudo h2 {
    text-transform: uppercase;
    font-size: 42px;
    margin-bottom: 20px;
    font-family: var(--fonte-02);
}

.primeira-secao__conteudo p {
    font-weight: bold;
}

/* .primeira-secao__conteudo > div{
    color: var(--cor-02);
} */

/* SEGUNDA SECAO */
.segunda-secao {
    /* background-color: var(--cor-04); */
    background-image: linear-gradient(var(--cor-04) 75%, var(--cor-03));
}

.segunda-secao__conteudo {
    width: calc(100% - 50px);
    margin: 0 25px 50px 25px;
    padding: 50px;
    border-radius: 25px;
    line-height: 25px;
    background-color: var(--cor-01);
    box-shadow: 0 0 10px 0 var(--cor-04);
}

.segunda-secao__conteudo h2 {
    /* color: var(--cor-04); */
    font-family: var(--fonte-02);
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
}

.segunda-secao__conteudo h3 {
    /* color: var(--cor-04); */
    font-size: 16px;
    letter-spacing: 2.5px;
    margin-bottom: 50px;
    text-align: center;
}

.segunda-secao__conteudo h3::before,
.segunda-secao__conteudo h3::after {
    /* color: var(--cor-04); */
    content: " - ";
}

.segunda-secao__conteudo h4 {
    /* color: var(--cor-04); */
    font-weight: bold;
    font-style: italic;
    margin: 25px 0 10px 0;
    text-transform: uppercase;
    border: 2px solid var(--cor-04);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 0 10px;
    display: inline-block;
}

.segunda-secao__conteudo p {
    /* color: var(--cor-04); */
    text-align: justify;
}

/* TERCEIRA SECAO */
.terceira-secao {
    background-color: var(--cor-03);
}

/* .terceira-secao__conteudo{
} */

.terceira-secao__conteudo h2 {
    padding: 25px 50px;
    margin: 0 25px;
    font-size: 42px;
    font-family: var(--fonte-02);
    text-transform: uppercase;
    color: var(--cor-01);
    background-color: var(--cor-04);
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 10px 0 var(--cor-04);
}

.terceira-secao__conteudo__blocos {
    color: var(--cor-04);
    line-height: 25px;
    display: flex;
    gap: 25px;
    padding: 25px;
    overflow-x: scroll;
}

.terceira-secao__conteudo__blocos::-webkit-scrollbar {
    height: 5px;
    background-color: transparent;
}

.terceira-secao__conteudo__blocos::-webkit-scrollbar-thumb {
    background-color: var(--cor-04);
    border-radius: 10px;
}

.terceira-secao__conteudo__blocos li {
    min-width: 300px;
    background-color: var(--cor-02);
    box-shadow: 0 0 10px 0 var(--cor-03);
    border-radius: 25px;
    cursor: pointer;
}

.terceira-secao__conteudo__blocos li:hover {
    box-shadow: 0 0 25px 0 var(--cor-04);
    scale: 1.02;
}

.terceira-secao__conteudo__blocos li h4 {
    font-size: 16px;
    font-weight: bold;
    background-color: var(--cor-04);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 15px;
    color: var(--cor-02);
    text-align: center;
}

.terceira-secao__conteudo__blocos li p {
    text-align: justify;
    padding: 15px 25px;
}


/*  QUARTA SECAO */
.quarta-secao {
    background-image: linear-gradient(var(--cor-03), var(--cor-04));
}

.quarta-secao__conteudo {
    padding-left: 25px;
    padding-right: 25px;
}

.quarta-secao__conteudo div{
    font-family: var(--fonte-02);
    font-size: 42px;
    margin-bottom: 15px;
    background-color: var(--cor-02);
    padding: 25px;
    box-shadow: 0 0 10px 0 var(--cor-04);}

.quarta-secao__conteudo div:first-child{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.quarta-secao__conteudo div:last-child{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.quarta-secao__conteudo h2 {
    text-transform: uppercase;
    font-size: 42px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--cor-04);
}

.quarta-secao__conteudo h3 {
    font-family: var(--fonte-01);
    font-size: 14px;
    line-height: 25px;
}

.quarta-secao__conteudo__blocos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quarta-secao__conteudo__blocos > li {
    background-color: var(--cor-02);
    padding: 25px;
    box-shadow: 0 0 10px 0 var(--cor-04);
}

.quarta-secao__conteudo__blocos h4 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.quarta-secao__conteudo__blocos li ul {
    display: flex;
    justify-content: space-evenly;
}

.quarta-secao__conteudo__blocos li ul li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.quarta-secao__conteudo__blocos li ul li:hover {
    filter: drop-shadow(0 0 5px var(--cor-04));
}

#imagem-horta-01,
#imagem-horta-02,
#imagem-horta-03,
#imagem-horta-06,
#imagem-horta-09,
#imagem-horta-10,
#imagem-horta-11,
#imagem-horta-12{
    height: 150px;
}

#imagem-horta-04{
    height: 100px;
    margin: 25px 0;
}

#imagem-horta-05,
#imagem-horta-07{
    height: 110px;
    margin-top: 40px;
}

#imagem-horta-08{
    height: 110px;
    margin: 20px 0;
}



.quarta-secao__conteudo__blocos li ul li:hover>img {
    scale: 1.1;
    transform: rotate(10deg);
}

.quarta-secao__conteudo__blocos li ul li p {
    font-weight: bold;
    text-align: center;
}

.quarta-secao__conteudo__blocos li:not(:first-child) ul li {
    padding: 35px;
}

/* QUINTA SECAO */
.quinta-secao {
    background-color: var(--cor-04);
}

.quinta-secao__conteudo {
    padding: 25px;
}

.quinta-secao__conteudo h2 {
    margin-bottom: 25px;
    font-size: 42px;
    font-family: var(--fonte-02);
    text-transform: uppercase;
    color: var(--cor-01);
}

.quinta-secao__conteudo h2::before {
    content: '| ';
}

.quinta-secao__conteudo h3 {
    color: var(--cor-01);
    font-size: 16px;
    margin-bottom: 25px;
}

.quinta-secao__conteudo__lista-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
}

.quinta-secao__conteudo__lista-projetos li {
    min-width: 400px;
    max-width: 400px;
    height: 250px;
    background-color: var(--cor-02);
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

.quinta-secao__conteudo li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.quinta-secao__conteudo li:hover img {
    width: 30%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.quinta-secao__conteudo li div {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.quinta-secao__conteudo li div span {
    font-size: 10px;
    font-weight: bold;
}

.quinta-secao__conteudo li div h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.quinta-secao__conteudo li div p {
    line-height: 15px;
    height: 175px;
    overflow-y: auto;
}

.quinta-secao__conteudo li div p::-webkit-scrollbar {
    width: 2.5px;
    background-color: var(--cor-02);
}

.quinta-secao__conteudo li div p::-webkit-scrollbar-thumb {
    background-color: var(--cor-04);
    border: none;
    border-radius: 25px;
}

.quinta-secao__conteudo li div a {
    background-color: var(--cor-04);
    color: var(--cor-01);
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
}

.quinta-secao__conteudo li div a:hover{
    background-color: var(--cor-03);
    color: var(--cor-04);
    font-weight: bold;
}

/* SEXTA SECAO */
.sexta-secao {
    background-color: var(--cor-03);
    padding: 150px 25px 100px 25px;
}

.sexta-secao__conteudo {
    padding: 25px;
    border-left: 5px solid var(--cor-04);
    border-right: 5px solid var(--cor-04);
}

.sexta-secao__conteudo h2 {
    font-family: var(--fonte-02);
    font-size: 42px;
    margin-bottom: 25px;
}

.sexta-secao__conteudo h4 {
    font-family: var(--fonte-02);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.sexta-secao__conteudo p {
    line-height: 25px;
    text-align: justify;
}

/* BOTAO */
.botao-volta-inicio {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--cor-04);
    border: 1px solid var(--cor-03);
    color: var(--cor-03);
    font-size: 25px;
    text-align: center;
    list-style: none;
    line-height: 50px;
    text-decoration: none;
    animation: botaoVoltaInicio forwards;
    animation-timeline: scroll();
    animation-range: cover 0% cover 25%;
    z-index: -1;
}

@keyframes botaoVoltaInicio {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
        z-index: 1;
    }

    100% {
        opacity: 1;
        z-index: 1;
    }
}

/* RODAPE */
footer {
    padding: 100px 50px;
    background-color: var(--cor-04);
    font-family: var(--fonte-02);
}

.footer__conteudo {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 25px;
    border: 1px solid var(--cor-01);
}

footer h2 {
    color: var(--cor-01);
    font-size: 42px;
}

.footer__conteudo div {
    width: 50%;
}

.footer__conteudo div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__conteudo div:first-child h2 {
    font-size: 48px;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 0 0 25px var(--cor-01);
}

.footer__conteudo form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__conteudo form input {
    outline: none;
    background-color: var(--cor-04);
    border: 1px solid var(--cor-03);
    border-radius: 10px;
    color: var(--cor-03);
    padding: 5px 10px;
}

.footer__conteudo form input:focus,
.footer__conteudo form input:valid {
    border-color: var(--cor-01);
    color: var(--cor-01);
}

.footer__conteudo form input::placeholder {
    color: var(--cor-03);
}

.footer__conteudo form button {
    background-color: var(--cor-01);
    border-radius: 10px;
    color: var(--cor-04);
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.footer__conteudo form button:hover {
    background-color: var(--cor-03);
}

@media screen and (max-width: 1100px) {
    #imagem-horta-06{
        height: 100px;
    }

    #imagem-horta-05,
    #imagem-horta-07{
        height: 75px;
        margin-top: 25px;
    }

}

@media screen and (max-width: 1000px) {
    header{
        flex-direction: row-reverse;
        height: 70px;
        overflow: hidden;
    }

    header:hover{
        height: auto;
    }

    .navegacao__links{
        flex-direction: column;
        display: none;
    }

    header:hover .navegacao__links{
        display: block;
    }

    .item__menu {
        position: static;
        padding: 20px;
        transform: translateX(0);
        opacity: 1;
    }

    #menu-secoes:hover > .item__menu {
        transform: translateX(0);
    }

    .menu__secao a{
        padding: 5px;
    }
}

@media screen and (max-width: 850px) {
    .primeira-secao {
        padding-left: 50px;
        padding-right: 50px;
    }

    .primeira-secao__conteudo {
        line-height: 20px;
    }

    #imagem-horta-01,
    #imagem-horta-02,
    #imagem-horta-03,
    #imagem-horta-06,
    #imagem-horta-09,
    #imagem-horta-10,
    #imagem-horta-11,
    #imagem-horta-12{
        height: 75px;
    }

    #imagem-horta-04{
        height: 50px;
        margin: 12.5px 0;
    }

    #imagem-horta-05,
    #imagem-horta-07{
        height: 55px;
        margin-top: 20px;
    }

    #imagem-horta-08{
        height: 55px;
        margin: 10px 0;
    }

    .footer__conteudo div:first-child h2 {
        font-size: 42px;
    }

}

@media screen and (max-width: 700px) {
    .primeira-secao__conteudo p:last-child{
        display: none;
    }

    .primeira-secao__conteudo h2,
    .segunda-secao__conteudo h2,
    .terceira-secao__conteudo h2,
    .quarta-secao__conteudo h2{
        font-size: 36px;
    }

    .quarta-secao__conteudo__blocos li ul {
        flex-direction: column;
    }

    #imagem-horta-01,
    #imagem-horta-02,
    #imagem-horta-03,
    #imagem-horta-06,
    #imagem-horta-09,
    #imagem-horta-10,
    #imagem-horta-11,
    #imagem-horta-12{
        height: 100px;
    }

    #imagem-horta-04{
        height: 66px;
        margin: 17px 0;
    }

    #imagem-horta-05,
    #imagem-horta-07{
        height: 75px;
        margin-top: 27px;
    }

    #imagem-horta-08{
        height: 75px;
        margin: 13px 0;
    }

    .footer__conteudo{
        flex-direction: column;
        justify-content: center;
    }
    .footer__conteudo div{
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .primeira-secao__conteudo p:nth-child(2){
        display: none;
    }

    .quinta-secao__conteudo__lista-projetos {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .quinta-secao__conteudo__lista-projetos li {
        min-width: 350px;
        max-width: 350px;
    }
}