@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: .5s;
}

html{
    scroll-behavior: smooth;
}

:root{
    --cor-01: #224b05;
    --cor-02: #c7c7c7;
    --cor-03: #000000;
}

body{
    background-color: var(--cor-02);
}

header{
    background-color: var(--cor-01);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 150px;
}

.logo img{
    width: 100%;
}

.navegacao{
    width: calc(100% - 150px);
}

.navegacao__links{
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.navegacao__links a{
    color: var(--cor-02);
    text-decoration: none;
}